body {
    background-color: rgb(20, 20, 23);
    color: white;
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    font-family: "Inter", 'Amiri', sans-serif, 'Noto Color Emoji';
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

* {
    transition: all 0.3s;
}

h1 {
    font-size: 30px;
}

topbar {
    width: 100%;
    padding: 0.5dvw 1dvh;
    font-size: 35px;
    background-color: rgb(0, 0, 0);
    display: flex;
    border-bottom: 1px solid #333;
    align-items: center;
    font-weight: bold;
    gap: 1dvw;
    pointer-events: none;
    margin-left: 1dvw;
}

topbar img {
    height: 50px;
}

#user_login {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#copied {
    all: unset;
    background-color: #141414;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
    padding: 15px;
    gap: 5px;
    text-align: center;
    border: 1px solid #333;
    display: none;
    cursor: pointer;
    transition: all 0.3s;
}

#copied:hover {
    border-radius: 20px;
    font-size: 2.1em;
    background-color: #1d1d1d;
}

#login_button {
    all: unset;
    background-color: #6441a5;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(66, 36, 112);
    border-radius: 15px;
    padding: 15px;
    gap: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s;
}

#login_button:hover {
    border-radius: 20px;
    font-size: 2.1em;
    background-color: #6946aa;
}