DEVICE_ID=...

UCHAT_DEPLOY_PATH=.sh

CLOUDFLARE_PURGE_PATH=api_path
CLOUDFLARE_TOKEN=...

CHAT_STATS_API_KEY=...
CHAT_STATS_V4_KEY=...

CDN_URL=url

# LOGGING
API_LOGS=api_path
RATELIMIT_LOGS=api_path
BLOCKED_LOGS=api_path
CORS_LOGS=api_path